<header class="header">
  <h1 class="header__logo"><a href="#">ASPOSE</a></h1>
  <nav class="header__nav">
    <button mat-icon-button aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-nav-list class="header__nav-list">
      <mat-list-item *ngFor="let link of links">
        <a matLine href="#">{{ link }}</a>
      </mat-list-item>
    </mat-nav-list>
  </nav>
  <div class="header__login">
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
     <span class="material-icons">person</span>
    </button>
  </div>
</header>
