<header class="header">
  <h1 class="header__logo"><a href="#">LOGO</a></h1>
  <nav class="header__nav">
    <button mat-stroked-button class="header__nav-toggle-btn" (click)="toggleMenu()">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-nav-list class="header__nav-list " (click)="toggleMenu()" [ngClass]="status ? 'header__nav-list--active' : ''">
      <mat-list-item *ngFor="let link of links" class="header__nav-item">
        <a matLine href="#">{{ link }}</a>
      </mat-list-item>
    </mat-nav-list>
  </nav>
  <div class="header__login">
    <button mat-fab color="primary">
     <span class="material-icons">person</span>
    </button>
  </div>
</header>
