<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Toolbar</mat-toolbar>
    <mat-nav-list class="toolbar__list">
      <button *ngFor="let tool of availableTools;" mat-stroked-button color="primary" class="toolbar__btn">
        <span class="material-icons">{{tool}}</span>
      </button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>PDF Editor</span>
    </mat-toolbar>
    <div class="work-space">
      <input class="work-space__file-picker" type="file">
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
