.sidenav-container {
  height: 100%;
  margin-left: 100px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.toolbar__btn {
  margin: 5px;
  padding: 0;
  min-width: 50px;
}

.toolbar__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.work-space {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
}

.work-space__file-picker {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}
